.label {
  font-size: 20px;
}

.form-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-color:#e6e6fa;
}

.send_email_title {
  font-size: 13px;
}
