.container {
  ul {
    list-style: none;
  }
  .image-group {
    color: black;
    .image-attention {
      color: gray;
      font-size: 16px;
    }
    .image-container {
      margin-top: 10px;
      .image-btn {
        background-image: image-url("image-btn.png");
        background-size: cover;
        width:40px;
        height: 40px;
        transition: .3s;
        cursor: pointer;
      }
      .image-btn:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    //プレビュー表示欄のCSS---------
      .prev-content {
        .preview-box {
          width: 100%;
          margin: 0 15px 10px 0;
          .upper-box {
            width: 100%;
            img{
              width: 100%;
            }
          }
          .lower-box {
            display: flex;
            text-align: center;
            .delete-box {
              cursor: pointer;
            }
          }
        }
      }

      .hidden-content {
        .hidden-field {
          display: none;
        }
        .hidden-checkbox {
          display: none;
        }
      }
    }
  }
  .form-control {
    color: blue;
  }
  .form-control-file {
    display: none;
  }
}
