body {
  // show-image-container============
  .show-image-container {
    height: 300px;
    padding: 0;
    .list-group-flush{
      .list-group-item{
        .show-img {
          width: 270px;
          height: 150px;
          margin-top: 5px;
        }
      }
    }
    .show-gmap{
      margin-top: 10px;
      padding-right: 17px;
    }
  }
 

  // info-container=====================
  .info-container {
    .list-group-item {
      word-break: break-word;
      word-wrap: normal;
    }
  }


  // commment-container==================
  .comment-container {
    .list-group-item {
      .comment-box {
        height: 250px;
        overflow: scroll;
        .comment-group{
          border-bottom: solid;
          border-bottom-color:#f0f8ff;
          .comment-created {
            font-size: 12px;
          }
        }
      }
    }
  }
}
