@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap';
@import 'modules/index';
@import 'modules/show';
@import 'modules/form';
@import 'modules/devise_sessions_new';
@import 'modules/kaminari';

td {
  word-break: break-word;
  word-wrap: normal;
}

.heart-btn {
  color: black;
}

.badge.badge-danger {
  height: 20px;
  font-size: 12px;
}